/* login.css */

/* Estilo para el Header */
#header {
    -fx-background-color: #e3f2fd;  /* Azul pastel */
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-pref-height: 110px;  /* Ajustar el alto del header */
    -fx-font-size: 35px; /* Tamaño de letra del header */
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

/* Estilo para el Sidebar */
#sidebar {
    -fx-background-color: #FAFAFA; /* Fondo del sidebar */
    -fx-padding: 40 10 10 30;
}

/* Botones del Sidebar */
#sidebar .button-sidebar {
    -fx-font-weight: normal; /* Quitar la negrita */
    -fx-background-color: #a5d6a7; /* Color pastel */
    -fx-text-fill: #333333;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.5, 0, 2);
}

/* Hover efecto para los botones del Sidebar */
#sidebar .button-sidebar:hover {
    -fx-background-color: #ffe082; /* Color al pasar el mouse */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 8, 0.6, 0, 4);
}

/* Estilo para el Footer */
#footer {
    -fx-background-color: #e3f2fd; /* Azul pastel */
    -fx-padding: 10px;
    -fx-font-size: 12px;
    -fx-text-fill: #333;
    -fx-font-family: 'Kantumruy Pro', sans-serif;
    -fx-alignment: center;
    -fx-max-width: infinity; /* Hace que ocupe todo el ancho disponible */
}


/* Estilo para las tarjetas del dashboard */
.tarjeta-dashboard {
    -fx-background-color: #f9e4e4; /* Color pastel */
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-padding: 15px;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 6, 0, 0, 2);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease-in-out;
    -fx-font-family: "Kantumruy Pro";
}

/* Hover: agrandar ligeramente y cambiar sombra */
.tarjeta-dashboard:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: #f0d9ff; /* Color pastel alternativo */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.2, 0, 4);
}

